*{
    font-family: "Lora";
    scroll-behavior: smooth;
}

body{
    background-image: url("../img/background.png");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    overflow-x: hidden;
}

a {
  text-decoration: none;
}

.scroll-up {
    position: fixed;
    right: 3%;
    bottom: 5%;
    z-index: 20;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background-color: rgba(29, 29, 31, 0.6);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0.4s, transform 0.4s;
}

.scroll-up.show-scroll {
    opacity: 1;
    visibility: visible;
    bottom:3rem;
}

.scroll-up:hover {
  transform: translateY(-.25rem);
}


nav{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

nav::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #B27E35;
  opacity: 25%;
  z-index: 0;
}

.active{
    color:#A00E0E;
}

.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: none;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #FFEFC2;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

.navTitle{
    position: relative;
    display: inline-block;
    height:13vh;
    z-index: 10;
    padding-top: 2%;
    margin-left: 18%;
    transition: transform 0.3s ease;
}

.navTitle:hover{
    transform: scale(1.05);
}

ul{
    list-style-type: none;
    margin:0;
    margin-right: 3%;
    padding:0;
    overflow:hidden;
    display: flex;
    justify-content: flex;
    z-index: 10;
}

li{
    font-size: 24px;
    font-weight: bold;
}

li a { 
  display: block;
  color: #FFEFC2;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  transition: transform 0.5s ease,background-color 0.5s ease;
}

li a:hover{
    color:#ffd12b;
    transform: scale(1.05);
}

.pic{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    gap:3%;
    align-items: center;
    flex-wrap: wrap;
}

.pic img{
    width:21vw;
    transition: transform 0.3s ease;
}

.pic img:hover{
    transform: scale(1.05);
}

.locked{
    pointer-events: none;
    cursor:not-allowed;
}

.locked img:hover{
    transform: none;
}

footer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line{
    margin: 5% 0% 5% 0%;
    height:1px;
    background-color: white;
}

.footer-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
}

footer h4{
    color: white;
    display: inline-block;
    padding: 0% 3% 0% 3%;
}

.footer-logo img{
    width:20vw;
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 5%;
    gap:50%;
}

.socials img{
    width: 3vw;
}

.socials a{
    transition: transform 0.3s ease;
}

.socials a:hover{
    transform: scale(1.10);
}

@media (max-width: 768px){

    body{
        overflow-x: hidden;
    }

    nav{
        width: 100%;
        height: 8vh;
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
    }

    nav::before {
        width: 100%;
    }

    .bg{
        position: absolute;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        z-index: 1;
    }

    .burger {
        position: relative;
        width: 28px;
        height: 20px;
        background: transparent;
        cursor: pointer;
        display: block;
        z-index: 100;
        margin-top: 5%;
        margin-right: 5%;
    }

    .burger input {
        display: none;
    }

    .burger span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: #FFEFC2;
        border-radius: 9px;
        opacity: 1;
        right:20%;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }

    .burger span:nth-of-type(1) { 
        top: 0px; 
    
    }

    .burger span:nth-of-type(2) {
        top: 50%; 
        transform: translateY(-50%); 
    
    }

    .burger span:nth-of-type(3) { 
        top: 100%; 
        transform: translateY(-100%); 
    }

    .burger input:checked ~ span:nth-of-type(1) {
        transform: rotate(45deg);
        top: 2px;
        left: 4px;
    }

    .burger input:checked ~ span:nth-of-type(3) {
        transform: rotate(-45deg);
        top: 22px;
        left: 4px;
    }

    .navTitle{
        height:6vh;
        z-index: 10;
        padding-top: 5%;
        margin-left: 15px;
        transition: transform 0.3s ease;
    }

    ul{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: rgba(29, 29, 31, 0.95);
        margin: 0;
        backdrop-filter: blur(10px);
        width: 70%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        transition: right 0.4s ease;
        z-index: 100;
    }

    ul.show-menu {
        right: 0;
    }

    li{
        font-size: 24px;
        font-weight: bold;
    }

    li a { 
        text-align: right;
        transition: transform 0.5s ease,background-color 0.5s ease;
        z-index: 20;
    }

    li a:hover{
        color:#ffd12b;
        transform: scale(1.05); 
    }

    .pic{
        margin-top: 10vh;
        display: flex;
        justify-content: center;
        gap:3%;
        align-items: center;
        flex-wrap: wrap;
    }

    .pic img{
        width:80vw;
    }

    .footer-text{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width:100%;
    }

    footer h4{
        font-size: 3vw;
    }

    .footer-logo img{
        width:40vw;
    }
}

@media (max-width: 915px) and (orientation: landscape){
    .navTitle{
        margin-top: 5%;
        height:15vh;
    }

    #t1,#t2,#t3,#t4{
        font-size: 12vh;
    }

    #t1{
        top:15%;
    }

    #t3{
        left:18%;
    }
}

@media screen and (max-width: 856px) and (orientation: landscape) and (max-height: 500px){

    .navTitle{
        margin-top: 5%;
        height:15vh;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) and (min-height: 501px) and (orientation: portrait){

    li{
        font-size: 50px;
        line-height: 3.0cm;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) and (min-height: 501px){

    ul{
        height: 10vh;
    }

    li{
        font-size: 20px;
        line-height: 0;
    }

    #nav-menu{
        margin-top: 15px;
    }
}