*{
    font-family: "Lora";
    scroll-behavior: smooth;
}

body{
    background-image: url("../img/background.png");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    overflow-x: hidden;
}

a {
  text-decoration: none;
}

img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.scroll-up {
    position: fixed;
    right: 3%;
    bottom: 5%;
    z-index: 20;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background-color: rgba(29, 29, 31, 0.6);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0.4s, transform 0.4s;
}

.scroll-up.show-scroll {
    opacity: 1;
    visibility: visible;
    bottom:3rem;
}

.scroll-up:hover {
  transform: translateY(-.25rem);
}


nav{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

nav::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #673c01;
  opacity: 25%;
  z-index: 0;
}

.active{
    color:#de0202;
}

.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: none;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #FFEFC2;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

.navTitle{
    position: relative;
    display: inline-block;
    height:13vh;
    z-index: 10;
    padding-top: 2%;
    margin-left: 18%;
    transition: transform 0.3s ease;
}

.navTitle:hover{
    transform: scale(1.05);
}

ul{
    list-style-type: none;
    margin:0;
    margin-right: 3%;
    padding:0;
    overflow:hidden;
    display: flex;
    justify-content: flex;
    z-index: 10;
}

li{
    font-size: 24px;
    font-weight: bold;
}

li a { 
  display: block;
  color: #FFEFC2;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  transition: transform 0.5s ease,background-color 0.5s ease;
}

li a:hover{
    color:#ffd12b;
    transform: scale(1.05);
}

.background{
    position: absolute;
    top:0;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/world.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
}

.background h1{
    font-family: "Jim Nightshade";
    color: white;
    font-weight: lighter;
    font-size: 64px;
    text-shadow: 1px 1px 5px #FFEFC2;
    z-index: 80;
}

.background a{
    display: inline-block;
    transition: transform 0.3s ease;
}

.background a:hover{
    transform: scale(1.05);
}

.power, .blackrose, .police, .map, .country, .symbolism {
    position: absolute;
    display: inline-block;
}

.power{
    top:5vh;
    left:28vw;
}

.blackrose{
    top:8vh;
    left:73vw;
}

.police{
    top:30vh;
    left:11vw;
}

.map{
    top:35vh;
    left:58vw;
}

.country{
    top:65vh;
    left:18vw;
}

.symbolism{
    top:75vh;
    left:68vw;
}

.alert{
    position: absolute;
    top: 60px;     
    right: -10px;   
    background-color: #A00E0E;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    display: none;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

footer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line{
    margin: 86vh 0% 5% 0%;
    height:1px;
    background-color: white;
}

.footer-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
}

footer h4{
    color: white;
    display: inline-block;
    padding: 0% 3% 0% 3%;
}

.footer-logo img{
    width:20vw;
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 5%;
    gap:50%;
}

.socials img{
    width: 3vw;
}

.socials a{
    transition: transform 0.3s ease;
}

.socials a:hover{
    transform: scale(1.10);
}

@media (max-width: 768px){

    body{
        overflow-x: hidden;
    }

    nav{
        width: 100%;
        height: 8vh;
        position: absolute;
        top:0;
        z-index: 100;
    }

    nav::before {
        width: 100%;
    }

    .burger {
        position: relative;
        width: 28px;
        height: 20px;
        background: transparent;
        cursor: pointer;
        display: block;
        z-index: 100;
        margin-top: 25px;
        margin-right: 15px;
    }

    .burger input {
        display: none;
    }

    .burger span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: #FFEFC2;
        border-radius: 9px;
        opacity: 1;
        right:20%;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }

    .burger span:nth-of-type(1) { 
        top: 0px; 
    
    }

    .burger span:nth-of-type(2) {
        top: 50%; 
        transform: translateY(-50%); 
    
    }

    .burger span:nth-of-type(3) { 
        top: 100%; 
        transform: translateY(-100%); 
    }

    .burger input:checked ~ span:nth-of-type(1) {
        transform: rotate(45deg);
        top: 2px;
        left: 4px;
    }

    .burger input:checked ~ span:nth-of-type(3) {
        transform: rotate(-45deg);
        top: 22px;
        left: 4px;
    }

    .navTitle{
        height:6vh;
        z-index: 10;
        padding-top: 5%;
        margin-left: 15px;
        transition: transform 0.3s ease;
    }

    ul{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: rgba(29, 29, 31, 0.95);
        margin: 0;
        backdrop-filter: blur(10px);
        width: 70%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        transition: right 0.4s ease;
        z-index: 100;
    }

    ul.show-menu {
        right: 0;
    }

    li{
        font-size: 24px;
        font-weight: bold;
    }

    li a { 
        text-align: right;
        transition: transform 0.5s ease,background-color 0.5s ease;
        z-index: 20;
    }

    li a:hover{
        color:#ffd12b;
        transform: scale(1.05); 
    }

    .background{
        top:0;
        width: 100vw;
        height: 100vh;
        background-image: url("../img/world hz.png");
        background-position: top;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 2;
        -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
        mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
    }

    .background h1{
        font-size: 5vh;
    }


    .power, .blackrose, .police, .map, .country, .symbolism {
        position: absolute;
        display: inline-block;
    }

    .power{
        top:5vh;
        left:7vw;
    }

    .blackrose{
        top:38vh;
        left:70vw;
    }

    .police{
        top:38vh;
        left:8vw;
    }

    .map{
        top:20vh;
        left:55vw;
    }

    .country{
        top:55vh;
        left:12vw;
    }

    .symbolism{
        top:8vh;
        left:60vw;
    }

    .alert{
        top: 20px;     
    }
    
    .line{
        margin-top: 70vh;
    }

    .footer-text{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width:100%;
    }

    footer h4{
        font-size: 3vw;
    }

    .footer-logo img{
        width:40vw;
    }
}

@media screen and (max-width: 856px) and (orientation: landscape) and (max-height: 500px){

    .navTitle{
        margin-top: 5%;
        height:15vh;
    }

     .background{
        top:0;
        width: 100vw;
        height: 100vh;
        background-image: url("../img/world.png");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 2;
    }

    .background h1{
        font-size: 5vh;
    }

    .power, .blackrose, .police, .map, .country, .symbolism {
        position: absolute;
        display: inline-block;
    }

    .power{
        top:10vh;
        left:28vw;
    }

    .blackrose{
        top:13vh;
        left:73vw;
    }

    .police{
        top:35vh;
        left:11vw;
    }

    .map{
        top:40vh;
        left:58vw;
    }

    .country{
        top:70vh;
        left:18vw;
    }

    .symbolism{
        top:80vh;
        left:68vw;
    }

    .line{
        margin-top: 70vh;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) and (min-height: 501px) and (orientation: portrait){

    li{
        font-size: 50px;
        line-height: 3.0cm;
    }

    .background{
        top:0;
        width: 100vw;
        height: 100vh;
        background-image: url("../img/world hz.png");
        background-position: top;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        z-index: 2;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) and (min-height: 501px){

    ul{
        height: 10vh;
    }

    li{
        font-size: 20px;
        line-height: 0;
    }

    #nav-menu{
        margin-top: 15px;
    }

     .background{
        top:0;
        width: 100vw;
        height: 100vh;
        background-image: url("../img/world.png");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 2;
    }

    .background h1{
        font-size: 64px;
    }

    .power, .blackrose, .police, .map, .country, .symbolism {
        position: absolute;
        display: inline-block;
    }
    
    .line{
        margin-top: 100vh;
    }
}